.jumbotron{
  text-align: center;
  background-color: #FFA07A;
  font-style: oblique;
}
h2{
  font-size: 20px;
  font-weight: bold;
}
h3{
  font-size: 17px;
  font-weight: bold;
  font-style: oblique;
}
p{
  font-size: 16px;
}
#about{
  background-color: #A3E4D7;
  padding-top: 30px;
  margin-top: -2.4%
}
.btn{
  background-color: #C0C0C0;
}
#rules{
  background-color:#76D7C4;
  padding-top: 30px;
  margin-top:-2.4%
}
#enjoy{
  background-color: #D0ECE7;
  text-align: center;
}
